/* DESCENDANT COMBINATORS */
/* .grand_parent p{
    background-color: blue;
    color: white;
} */

/* CHILD COMBINATORS */
/* .grand_parent > p{
    background-color: blue;
}

.parent > p{
    background-color: brown;
} */

/* ADJACENT SIBLINGS COMBINATORS */
/* p + h1{
    background-color: brown;
}  */

.parent + button{
    background-color: lightcoral;
    color: white;
    font-size: 20px;
}

/* GENERAL SIBLINGS COMBINATORS */
h1 ~ p{
    background-color: brown;
}

.max{
    background-color: yellow;
    /* margin-top: 30px; */
    /* margin-left: 40px;
    margin-right: 40px; */
    /* margin-bottom: 30px; */
    margin-inline: 40px;
    margin-block: 30px;
    margin: 30px 40px 30px 40px;
    margin: 30px 40px;
}
.type{
    padding: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* padding-top: 40px;
    padding-bottom: 40px; */
    /* border: none; */
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    /* padding: 20px 20px 30px 40px; */
    padding-inline: 50px;
    padding-block: 40px;
    outline: 30p solid black;
    outline-offset: 10px;
    box-shadow: 10px 10px 15px 2px red;
}
button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
input:focus{
    background-color: yellow;
    color: black;
    outline: none;
}
button{    
    background-color: lightcoral;
    color: white;
    /* padding-top: 10px; */
    /* padding-right: 40px; */
    /* padding-bottom: 10px; */
    /* padding-left: 40px; */
    /* padding-inline: 40px;
    padding-block: 10px; */
    /* padding: 10px 40px 10px 40px; */
    padding: 40px 40px;
    height: 100px;
    width: 100px;

    /* BORDER */
    /* border-radius: 50px; */
   /* border-color: rgb(190, 174, 2);
   border-style: solid;
   border-width: 2px; */
   border: 2px solid rgb(190, 174, 2);
   border-radius: 50%;
   outline: 3px solid black;
   outline-offset: 10px;

   /* BOXSHADOW */
   /* box-shadow: x-offset y-offset blur-radius spread-radius color; */
    box-shadow: 10px 10px 5px 0px rgba(194, 7, 7, 0.75);
}

/* button:hover{
    background-color: rgb(194, 194, 7);
    color: rgb(0, 136, 68);
    cursor: pointer;
} */

button:active{
    background-color: rgb(194, 7, 7);
    color: white;
}

input:focus{
    background-color: rgb(216, 239, 10);
    color: rgb(11, 7, 7);
    outline: none;
}

input:checked{
    outline: 10px solid rgb(43, 7, 150);
}
a:visited{
    color: rgb(231, 247, 6);
    text-decoration: none;
}

li:first-child{
    background-color: lightcoral;
}
li:last-child{
    background-color: lightblue;
}

li:nth-child(odd){
    background-color: lightgreen;
}

/* .mage::before{
    content: "I am a mage, ";
    color: blue;
    font-size: 30px;
}

.mage::after{
    content: " I can cast spells.";
    color: rgb(233, 151, 10);
} */

/* .mage::first-letter{
    color: red;
    font-size: 50px;
} */

.mage::first-line{
    color: green;
    font-size: 20px;
}

.mage::selection{
    background-color: black;
    color: white;
    text-align: justify;
}

.head{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
    line-height: 1;
    text-align: start;
    text-decoration: dashed;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-shadow: 2px 2px 4px blue;
    word-wrap: normal;
}