body{
    margin:0;
    font-family: Georgia, serif;
    background:#e8dccc;
    display:flex;
    justify-content:center;
    padding:40px;
    cursor: pointer;
}

.card{
    width: 400px;
    background:rgb(209, 173, 147);
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 15px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    border-radius:15px;
}

h1{
    margin-top:20px;
    font-size:32px;
}

.desc{
    color:#555;
    line-height:1.6;
}

.box{
    background:#f4e9ef;
    padding:20px;
    border-radius:12px;
    margin:25px 0;
}

.box h3{
    margin-top:0;
    color:#7a2d47;
}

h2{
    color:#7a3b2e;
    margin-top:30px;
}

ul{
    padding-left:20px;
    line-height:1.9;
}

ol{
    padding-left:20px;
    line-height:1.9;
}

hr{
    border:none;
    border-top:1px solid #ddd;
    margin:30px 0;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

td{
    padding:12px 0;
    border-bottom:1px solid #eee;
}

td:last-child{
    text-align:right;
    font-weight:bold;
    color:#7a3b2e;
}